<div class="top-menu">
<!--
    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

-->
  </div>

    <nav class="top-menu">
        <a href="/" routerLink="/"><img class="logo"
            src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"></a>
        <a href="about" routerLink="about">About</a>
        <a href="reactive-dashboard" routerLink="reactive-dashboard">Reactive - Dashboard</a>
        <a href="reactive-form" routerLink="reactive-form">Reactive - Login</a>
        <a href="user-report" routerLink="user-report">User - Report</a>
        <a href="user-report/1" routerLink="user-report/1">User - Report 1</a>
        <a href="user-report/2" routerLink="user-report/2">User - Report 2</a>
        <a href="boostrap/10" routerLink="boostrap/10">Boostrap</a>
        <a href="input-output/green" routerLink="input-output/green">Input-Output</a>
    </nav>
