<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Store Login</title>
</head>

<body>
    <div class="login-container">
        <h2>Medical Store Login</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" #username
                value="aniket" formControlName="username"
                required>
        
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" #password
            
                formControlName="password"
                required>
            </div>
            <button>Login</button><br>
            <button type="button" (click)="goBack()">go back</button>
            <div class="forgot-password">
                <a href="forgot-password.html">Forgot Password?</a>
            </div>
        </form>
    </div>
</body>
</html>


<!-- {{signUpForm.value.password| base64ImagPipe}}  -->